In [6]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/arteweyl/.local/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.23.2 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /home/arteweyl/.local/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np

In [9]:
arr = np.array(range(10,20))

In [10]:
print(arr)

[10 11 12 13 14 15 16 17 18 19]

In [11]:
serie = pd.Series(arr)

In [12]:
serie

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [13]:
matriz = np.array([[1,2],[3,4]])
print(matriz)

[[1 2]
 [3 4]]

In [15]:
df = pd.DataFrame(matriz)
df

   0  1
0  1  2
1  3  4

In [17]:
df = pd.DataFrame(matriz,columns=['pera','maça'],index=['tipo 1','tipo 2'])
df

        pera  maça
tipo 1     1     2
tipo 2     3     4

In [21]:
carros = {'Marcas': ['porche','Alfa Romeo', 'Chevrolet'],'Modelos':['Cayman GT4','Giulia','Camaro'] }
df2 = pd.DataFrame(carros)
df2

       Marcas     Modelos
0      porche  Cayman GT4
1  Alfa Romeo      Giulia
2   Chevrolet      Camaro

#### Exercício
Crie um DataFrame com as seguintes informações: Coluna "fruta": "Banana", "Maça", "Pera" Coluna "preco": 7.90, 10.20, 11.80 Coluna "quantidade": 12, 3, 4

In [22]:
frutas = {'Frutas': ['banana','maca','pera'],'Preço':['7.9','10','11'],'Quantidade':['12','3','4']}
df3 = pd.DataFrame(frutas)
df3

   Frutas Preço Quantidade
0  banana   7.9         12
1    maca    10          3
2    pera    11          4

In [25]:
df3['Frutas']

0    banana
1      maca
2      pera
Name: Frutas, dtype: object

In [27]:
url='https://raw.githubusercontent.com/arteweyl/material_turma58865/main/datasets/Cancer_Data.csv'
df = pd.read_csv(url,encoding='latin1',sep=',')
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [28]:
%pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/arteweyl/.local/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/arteweyl/.local/lib/python3.11/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
url2='https://raw.githubusercontent.com/arteweyl/material_turma58865/main/datasets/fastfood.xlsx'
df2 = pd.read_excel(url2,sheet_name='fastfood')
df2

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [42]:
df.to_excel('cancer_data.xlsx',index=False)
df2.to_csv('fastfood.csv',index=False,sep=',')
df3 = pd.read_csv('fastfood.csv')
df3

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [3]:
import csv

data = [
    ["Nome", "Idade", "Cidade"],
    ["Alice", "30", "São Paulo"],
    ["Bob", "25", "Rio de Janeiro"],
    ["Charlie", "35", "Belo Horizonte"]
]

nome_arquivo = 'pessoas.csv'

with open(nome_arquivo, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data)
with open(nome_arquivo,'r') as arquivo:
    for linha in arquivo:
        print(linha, end='')

Nome,Idade,Cidade
Alice,30,São Paulo
Bob,25,Rio de Janeiro
Charlie,35,Belo Horizonte

In [45]:
import json

dados_json = [
  {"nome": "Alice", "idade": 30, "cidade": "São Paulo"},
  {"nome": "Bob", "idade": 25, "cidade": "Rio de Janeiro"},
  {"nome": "Charlie", "idade": 35, "cidade": "Belo Horizonte"}
]

nome_arquivo = 'dados.json'

with open (nome_arquivo, 'w') as arquivo:
    json.dump(dados_json,arquivo,indent=2)

In [46]:
pd.read_json('dados.json')

      nome  idade          cidade
0    Alice     30       São Paulo
1      Bob     25  Rio de Janeiro
2  Charlie     35  Belo Horizonte

### Modificando Index

In [47]:
data = {'nome': ['Alice', 'John', 'Robin'], 'idade': [25, 30, 35]}
df = pd.DataFrame(data)
df

    nome  idade
0  Alice     25
1   John     30
2  Robin     35

In [48]:
df_novo = df.set_index('nome')
df_novo

       idade
nome
Alice     25
John      30
Robin     35

In [50]:
df_novo.loc['Alice']

idade    25
Name: Alice, dtype: int64

In [51]:
df_resetado = df_novo.reset_index()
df_resetado

    nome  idade
0  Alice     25
1   John     30
2  Robin     35

In [52]:
df_resetado = df_novo.reset_index(drop=True)
df_resetado

   idade
0     25
1     30
2     35

In [53]:
df['UF'] = ['RJ','SP','SC']
df

    nome  idade  UF
0  Alice     25  RJ
1   John     30  SP
2  Robin     35  SC

In [54]:
df['Pais'] = "Brasil"

In [55]:
df

    nome  idade  UF    Pais
0  Alice     25  RJ  Brasil
1   John     30  SP  Brasil
2  Robin     35  SC  Brasil

In [56]:
df2 = pd.DataFrame({'cidade':['Rio de Janeiro','Campinas','Balneário Camburiu']})
df2

               cidade
0      Rio de Janeiro
1            Campinas
2  Balneário Camburiu

In [57]:
df['cidades'] = df2['cidade']

In [58]:
df

    nome  idade  UF    Pais             cidades
0  Alice     25  RJ  Brasil      Rio de Janeiro
1   John     30  SP  Brasil            Campinas
2  Robin     35  SC  Brasil  Balneário Camburiu

### Filtros

In [59]:
filtro=df['idade']>=30
filtro

0    False
1     True
2     True
Name: idade, dtype: bool

In [60]:
df_filtrado = df[filtro]
df_filtrado

    nome  idade  UF    Pais             cidades
1   John     30  SP  Brasil            Campinas
2  Robin     35  SC  Brasil  Balneário Camburiu

In [62]:
df_filtrado = df_filtrado.set_index('nome')
df_filtrado

       idade  UF    Pais             cidades
nome
John      30  SP  Brasil            Campinas
Robin     35  SC  Brasil  Balneário Camburiu

LOC e ILOC

In [64]:
df_filtrado.loc['John','Pais']

'Brasil'

In [65]:
df_filtrado = df_filtrado.reset_index()
df_filtrado

    nome  idade  UF    Pais             cidades
0   John     30  SP  Brasil            Campinas
1  Robin     35  SC  Brasil  Balneário Camburiu

In [66]:
df_filtrado.loc[0,'idade']

30

In [67]:
df_filtrado.iloc[0,1]

30

In [68]:
df.columns

Index(['nome', 'idade', 'UF', 'Pais', 'cidades'], dtype='object')

Abra o arquivo '"cancer_data.csv', filtre as linhas que possuem a coluna diagnosis = 'B'

In [6]:
url = 'https://raw.githubusercontent.com/arteweyl/material_turma58865/main/datasets/Cancer_Data.csv'
df = pd.read_csv(url,encoding='latin1',sep=',')
df_filtrado = df[df['diagnosis'] == 'B']
print(df_filtrado)

           id diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  \
19    8510426         B       13.540         14.36           87.46      566.3
20    8510653         B       13.080         15.71           85.63      520.0
21    8510824         B        9.504         12.44           60.34      273.9
37     854941         B       13.030         18.42           82.61      523.8
46   85713702         B        8.196         16.84           51.71      201.9
..        ...       ...          ...           ...             ...        ...
558    925277         B       14.590         22.68           96.39      657.1
559    925291         B       11.510         23.93           74.52      403.5
560    925292         B       14.050         27.15           91.38      600.4
561    925311         B       11.200         29.37           70.67      386.0
568     92751         B        7.760         24.54           47.92      181.0

     smoothness_mean  compactness_mean  concavity_mean  concave points_mean  \
19           0.09779           0.08129         0.06664             0.047810
20           0.10750           0.12700         0.04568             0.031100
21           0.10240           0.06492         0.02956             0.020760
37           0.08983           0.03766         0.02562             0.029230
46           0.08600           0.05943         0.01588             0.005917
..               ...               ...             ...                  ...
558          0.08473           0.13300         0.10290             0.037360
559          0.09261           0.10210         0.11120             0.041050
560          0.09929           0.11260         0.04462             0.043040
561          0.07449           0.03558         0.00000             0.000000
568          0.05263           0.04362         0.00000             0.000000

     ...  texture_worst  perimeter_worst  area_worst  smoothness_worst  \
19   ...          19.26            99.70       711.2           0.14400
20   ...          20.49            96.09       630.5           0.13120
21   ...          15.66            65.13       314.9           0.13240
37   ...          22.81            84.46       545.9           0.09701
46   ...          21.96            57.26       242.2           0.12970
..   ...            ...              ...         ...               ...
558  ...          27.27           105.90       733.5           0.10260
559  ...          37.16            82.28       474.2           0.12980
560  ...          33.17           100.20       706.7           0.12410
561  ...          38.30            75.19       439.6           0.09267
568  ...          30.37            59.16       268.6           0.08996

     compactness_worst  concavity_worst  concave points_worst  symmetry_worst  \
19             0.17730          0.23900               0.12880          0.2977
20             0.27760          0.18900               0.07283          0.3184
21             0.11480          0.08867               0.06227          0.2450
37             0.04619          0.04833               0.05013          0.1987
46             0.13570          0.06880               0.02564          0.3105
..                 ...              ...                   ...             ...
558            0.31710          0.36620               0.11050          0.2258
559            0.25170          0.36300               0.09653          0.2112
560            0.22640          0.13260               0.10480          0.2250
561            0.05494          0.00000               0.00000          0.1566
568            0.06444          0.00000               0.00000          0.2871

     fractal_dimension_worst  Unnamed: 32
19                   0.07259          NaN
20                   0.08183          NaN
21                   0.07773          NaN
37                   0.06169          NaN
46                   0.07409          NaN
..                       ...          ...
558                  0.08004          NaN
559                  0.08732          NaN
560                  0.08321          NaN
561                  0.05905          NaN
568                  0.07039          NaN

[357 rows x 33 columns]

0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name: diagnosis, Length: 569, dtype: object

In [71]:
df_filtrado.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
19,8510426,B,13.540,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.047810,...,19.26,99.70,711.2,0.14400,0.17730,0.23900,0.12880,0.2977,0.07259,NaN
20,8510653,B,13.080,15.71,85.63,520.0,0.10750,0.12700,0.04568,0.031100,...,20.49,96.09,630.5,0.13120,0.27760,0.18900,0.07283,0.3184,0.08183,NaN
21,8510824,B,9.504,12.44,60.34,273.9,0.10240,0.06492,0.02956,0.020760,...,15.66,65.13,314.9,0.13240,0.11480,0.08867,0.06227,0.2450,0.07773,NaN
37,854941,B,13.030,18.42,82.61,523.8,0.08983,0.03766,0.02562,0.029230,...,22.81,84.46,545.9,0.09701,0.04619,0.04833,0.05013,0.1987,0.06169,NaN
46,85713702,B,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,...,21.96,57.26,242.2,0.12970,0.13570,0.06880,0.02564,0.3105,0.07409,NaN

In [72]:
df_filtrado.tail()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
558,925277,B,14.59,22.68,96.39,657.1,0.08473,0.13300,0.10290,0.03736,...,27.27,105.90,733.5,0.10260,0.31710,0.3662,0.11050,0.2258,0.08004,NaN
559,925291,B,11.51,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.04105,...,37.16,82.28,474.2,0.12980,0.25170,0.3630,0.09653,0.2112,0.08732,NaN
560,925292,B,14.05,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.04304,...,33.17,100.20,706.7,0.12410,0.22640,0.1326,0.10480,0.2250,0.08321,NaN
561,925311,B,11.20,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.00000,...,38.30,75.19,439.6,0.09267,0.05494,0.0000,0.00000,0.1566,0.05905,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.00000,0.2871,0.07039,NaN

In [73]:
df_filtrado.head(50)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
19,8510426,B,13.540,14.36,87.46,566.3,0.09779,0.08129,0.066640,0.047810,...,19.26,99.70,711.2,0.14400,0.17730,0.239000,0.12880,0.2977,0.07259,NaN
20,8510653,B,13.080,15.71,85.63,520.0,0.10750,0.12700,0.045680,0.031100,...,20.49,96.09,630.5,0.13120,0.27760,0.189000,0.07283,0.3184,0.08183,NaN
21,8510824,B,9.504,12.44,60.34,273.9,0.10240,0.06492,0.029560,0.020760,...,15.66,65.13,314.9,0.13240,0.11480,0.088670,0.06227,0.2450,0.07773,NaN
37,854941,B,13.030,18.42,82.61,523.8,0.08983,0.03766,0.025620,0.029230,...,22.81,84.46,545.9,0.09701,0.04619,0.048330,0.05013,0.1987,0.06169,NaN
46,85713702,B,8.196,16.84,51.71,201.9,0.08600,0.05943,0.015880,0.005917,...,21.96,57.26,242.2,0.12970,0.13570,0.068800,0.02564,0.3105,0.07409,NaN
48,857155,B,12.050,14.63,78.04,449.3,0.10310,0.09092,0.065920,0.027490,...,20.70,89.88,582.6,0.14940,0.21560,0.305000,0.06548,0.2747,0.08301,NaN
49,857156,B,13.490,22.30,86.91,561.0,0.08752,0.07698,0.047510,0.033840,...,31.82,99.00,698.8,0.11620,0.17110,0.228200,0.12820,0.2871,0.06917,NaN
50,857343,B,11.760,21.60,74.72,427.9,0.08637,0.04966,0.016570,0.011150,...,25.72,82.98,516.5,0.10850,0.08615,0.055230,0.03715,0.2433,0.06563,NaN
51,857373,B,13.640,16.34,87.21,571.8,0.07685,0.06059,0.018570,0.017230,...,23.19,96.08,656.7,0.10890,0.15820,0.105000,0.08586,0.2346,0.08025,NaN
52,857374,B,11.940,18.24,75.71,437.6,0.08261,0.04751,0.019720,0.013490,...,21.33,83.67,527.2,0.11440,0.08906,0.092030,0.06296,0.2785,0.07408,NaN
55,85759902,B,11.520,18.75,73.34,409.0,0.09524,0.05473,0.030360,0.022780,...,22.47,81.81,506.2,0.12490,0.08720,0.090760,0.06316,0.3306,0.07036,NaN
58,857810,B,13.050,19.31,82.61,527.2,0.08060,0.03789,0.000692,0.004167,...,22.25,90.24,624.1,0.10210,0.06191,0.001845,0.01111,0.2439,0.06289,NaN
59,858477,B,8.618,11.79,54.34,224.5,0.09752,0.05272,0.020610,0.007799,...,15.40,59.90,274.9,0.17330,0.12390,0.116800,0.04419,0.3220,0.09026,NaN
60,858970,B,10.170,14.88,64.55,311.9,0.11340,0.08061,0.010840,0.012900,...,17.45,69.86,368.6,0.12750,0.09866,0.021680,0.02579,0.3557,0.08020,NaN
61,858981,B,8.598,20.98,54.66,221.8,0.12430,0.08963,0.030000,0.009259,...,27.04,62.06,273.9,0.16390,0.16980,0.090010,0.02778,0.2972,0.07712,NaN
63,859196,B,9.173,13.86,59.20,260.9,0.07721,0.08751,0.059880,0.021800,...,19.23,65.59,310.1,0.09836,0.16780,0.139700,0.05087,0.3282,0.08490,NaN
66,859464,B,9.465,21.01,60.11,269.4,0.10440,0.07773,0.021720,0.015040,...,31.56,67.03,330.7,0.15480,0.16640,0.094120,0.06517,0.2878,0.09211,NaN
67,859465,B,11.310,19.04,71.80,394.1,0.08139,0.04701,0.037090,0.022300,...,23.84,78.00,466.7,0.12900,0.09148,0.144400,0.06961,0.2400,0.06641,NaN
68,859471,B,9.029,17.33,58.79,250.5,0.10660,0.14130,0.313000,0.043750,...,22.65,65.50,324.7,0.14820,0.43650,1.252000,0.17500,0.4228,0.11750,NaN
69,859487,B,12.780,16.49,81.37,502.5,0.09831,0.05234,0.036530,0.028640,...,19.76,85.67,554.9,0.12960,0.07061,0.103900,0.05882,0.2383,0.06410,NaN
71,859711,B,8.888,14.64,58.79,244.0,0.09783,0.15310,0.086060,0.028720,...,15.67,62.56,284.4,0.12070,0.24360,0.143400,0.04786,0.2254,0.10840,NaN
74,8610175,B,12.310,16.52,79.19,470.9,0.09172,0.06829,0.033720,0.022720,...,23.21,89.71,611.1,0.11760,0.18430,0.170300,0.08660,0.2618,0.07609,NaN
76,8610629,B,13.530,10.94,87.91,559.2,0.12910,0.10470,0.068770,0.065560,...,12.49,91.36,605.5,0.14510,0.13790,0.085390,0.07407,0.2710,0.07191,NaN
79,8610908,B,12.860,18.00,83.19,506.3,0.09934,0.09546,0.038890,0.023150,...,24.82,91.88,622.1,0.12890,0.21410,0.173100,0.07926,0.2779,0.07918,NaN
80,861103,B,11.450,20.97,73.81,401.5,0.11020,0.09362,0.045910,0.022330,...,32.16,84.53,525.1,0.15570,0.16760,0.175500,0.06127,0.2762,0.08851,NaN
81,8611161,B,13.340,15.86,86.49,520.0,0.10780,0.15350,0.116900,0.069870,...,23.19,96.66,614.9,0.15360,0.47910,0.485800,0.17080,0.3527,0.10160,NaN
84,8612080,B,12.000,15.65,76.95,443.3,0.09723,0.07165,0.041510,0.018630,...,24.90,87.78,567.9,0.13770,0.20030,0.226700,0.07632,0.3379,0.07924,NaN
88,861597,B,12.360,21.80,79.78,466.1,0.08772,0.09445,0.060150,0.037450,...,30.50,91.46,574.7,0.13040,0.24630,0.243400,0.12050,0.2972,0.09261,NaN
89,861598,B,14.640,15.24,95.77,651.9,0.11320,0.13390,0.099660,0.070640,...,18.24,109.40,803.6,0.12770,0.30890,0.260400,0.13970,0.3151,0.08473,NaN
90,861648,B,14.620,24.02,94.57,662.7,0.08974,0.08606,0.031020,0.029570,...,29.11,102.90,803.7,0.11150,0.17660,0.091890,0.06946,0.2522,0.07246,NaN
92,861853,B,13.270,14.76,84.74,551.7,0.07355,0.05055,0.032610,0.026480,...,22.35,104.50,830.6,0.10060,0.12380,0.135000,0.10010,0.2027,0.06206,NaN
93,862009,B,13.450,18.30,86.60,555.1,0.10220,0.08165,0.039740,0.027800,...,25.94,97.59,699.4,0.13390,0.17510,0.138100,0.07911,0.2678,0.06603,NaN
96,86211,B,12.180,17.84,77.79,451.1,0.10450,0.07057,0.024900,0.029410,...,20.92,82.14,495.2,0.11400,0.09358,0.049800,0.05882,0.2227,0.07376,NaN
97,862261,B,9.787,19.94,62.11,294.5,0.10240,0.05301,0.006829,0.007937,...,26.29,68.81,366.1,0.13160,0.09473,0.020490,0.02381,0.1934,0.08988,NaN
98,862485,B,11.600,12.84,74.34,412.6,0.08983,0.07525,0.041960,0.033500,...,17.16,82.96,512.5,0.14310,0.18510,0.192200,0.08449,0.2772,0.08756,NaN
101,862722,B,6.981,13.43,43.79,143.5,0.11700,0.07568,0.000000,0.000000,...,19.54,50.41,185.2,0.15840,0.12020,0.000000,0.00000,0.2932,0.09382,NaN
102,862965,B,12.180,20.52,77.22,458.7,0.08013,0.04038,0.023830,0.017700,...,32.84,84.58,547.8,0.11230,0.08862,0.114500,0.07431,0.2694,0.06878,NaN
103,862980,B,9.876,19.40,63.95,298.3,0.10050,0.09697,0.061540,0.030290,...,26.83,72.22,361.2,0.15590,0.23020,0.264400,0.09749,0.2622,0.08490,NaN
104,862989,B,10.490,19.29,67.41,336.1,0.09989,0.08578,0.029950,0.012010,...,23.31,74.22,402.8,0.12190,0.14860,0.079870,0.03203,0.2826,0.07552,NaN
106,863031,B,11.640,18.33,75.17,412.5,0.11420,0.10170,0.070700,0.034850,...,29.26,85.51,521.7,0.16880,0.26600,0.287300,0.12180,0.2806,0.09097,NaN
107,863270,B,12.360,18.54,79.01,466.7,0.08477,0.06815,0.026430,0.019210,...,27.49,85.56,544.1,0.11840,0.19630,0.193700,0.08442,0.2983,0.07185,NaN
109,864018,B,11.340,21.26,72.48,396.5,0.08759,0.06575,0.051330,0.018990,...,29.15,83.99,518.1,0.16990,0.21960,0.312000,0.08278,0.2829,0.08832,NaN
110,864033,B,9.777,16.99,62.50,290.2,0.10370,0.08404,0.043340,0.017780,...,21.47,71.68,367.0,0.14670,0.17650,0.130000,0.05334,0.2533,0.08468,NaN
111,86408,B,12.630,20.76,82.15,480.4,0.09933,0.12090,0.106500,0.060210,...,25.47,89.00,527.4,0.12870,0.22500,0.221600,0.11050,0.2226,0.08486,NaN
112,86409,B,14.260,19.65,97.83,629.9,0.07837,0.22330,0.300300,0.077980,...,23.73,107.00,709.0,0.08949,0.41930,0.678300,0.15050,0.2398,0.10820,NaN
113,864292,B,10.510,20.19,68.64,334.2,0.11220,0.13030,0.064760,0.030680,...,22.75,72.62,374.4,0.13000,0.20490,0.129500,0.06136,0.2383,0.09026,NaN
114,864496,B,8.726,15.83,55.84,230.9,0.11500,0.08201,0.041320,0.019240,...,19.62,64.48,284.4,0.17240,0.23640,0.245600,0.10500,0.2926,0.10170,NaN
115,864685,B,11.930,21.53,76.53,438.6,0.09768,0.07849,0.033280,0.020080,...,26.15,87.54,583.0,0.15000,0.23990,0.150300,0.07247,0.2438,0.08541,NaN
116,864726,B,8.950,15.76,58.74,245.2,0.09462,0.12430,0.092630,0.023080,...,17.07,63.34,270.0,0.11790,0.18790,0.154400,0.03846,0.1652,0.07722,NaN
120,865137,B,11.410,10.82,73.34,403.3,0.09373,0.06685,0.035120,0.026230,...,15.97,83.74,510.5,0.15480,0.23900,0.210200,0.08958,0.3016,0.08523,NaN

In [75]:
df_filtrado.reset_index(drop=True)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,8510426,B,13.540,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.047810,...,19.26,99.70,711.2,0.14400,0.17730,0.23900,0.12880,0.2977,0.07259,NaN
1,8510653,B,13.080,15.71,85.63,520.0,0.10750,0.12700,0.04568,0.031100,...,20.49,96.09,630.5,0.13120,0.27760,0.18900,0.07283,0.3184,0.08183,NaN
2,8510824,B,9.504,12.44,60.34,273.9,0.10240,0.06492,0.02956,0.020760,...,15.66,65.13,314.9,0.13240,0.11480,0.08867,0.06227,0.2450,0.07773,NaN
3,854941,B,13.030,18.42,82.61,523.8,0.08983,0.03766,0.02562,0.029230,...,22.81,84.46,545.9,0.09701,0.04619,0.04833,0.05013,0.1987,0.06169,NaN
4,85713702,B,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,...,21.96,57.26,242.2,0.12970,0.13570,0.06880,0.02564,0.3105,0.07409,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,925277,B,14.590,22.68,96.39,657.1,0.08473,0.13300,0.10290,0.037360,...,27.27,105.90,733.5,0.10260,0.31710,0.36620,0.11050,0.2258,0.08004,NaN
353,925291,B,11.510,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.041050,...,37.16,82.28,474.2,0.12980,0.25170,0.36300,0.09653,0.2112,0.08732,NaN
354,925292,B,14.050,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.043040,...,33.17,100.20,706.7,0.12410,0.22640,0.13260,0.10480,0.2250,0.08321,NaN
355,925311,B,11.200,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.000000,...,38.30,75.19,439.6,0.09267,0.05494,0.00000,0.00000,0.1566,0.05905,NaN
356,92751,B,7.760,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.000000,...,30.37,59.16,268.6,0.08996,0.06444,0.00000,0.00000,0.2871,0.07039,NaN

In [8]:
fastfood = pd.read_csv('fastfood.csv')
fastfood.head(10)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
5,Mcdonalds,Big Mac,540,250,28,10,1,80,950,46,3.0,9,25.0,10.0,2.0,15.0,Other
6,Mcdonalds,Cheeseburger,300,100,12,5,0.5,40,680,33,2.0,7,15.0,10.0,2.0,10.0,Other
7,Mcdonalds,Classic Chicken Sandwich,510,210,24,4,0,65,1040,49,3.0,6,25.0,0.0,4.0,2.0,Other
8,Mcdonalds,Double Cheeseburger,430,190,21,11,1,85,1040,35,2.0,7,25.0,20.0,4.0,15.0,Other
9,Mcdonalds,Double Quarter Pounder® with Cheese,770,400,45,21,2023-05-02 00:00:00,175,1290,42,3.0,10,51.0,20.0,6.0,20.0,Other

In [80]:
fastfood.loc[(fastfood['restaurant']=='Taco Bell')&(fastfood['calories']>380),'item']

400    1/2 lb.* Cheesy Potato Burrito
401            1/2 lb.* Combo Burrito
402                   7-Layer Burrito
404             Beefy 5-Layer Burrito
405             Beefy Fritos® Burrito
                    ...
510    Spicy Triple Double Crunchwrap
511       Express Taco Salad w/ Chips
512            Fiesta Taco Salad-Beef
513         Fiesta Taco Salad-Chicken
514           Fiesta Taco Salad-Steak
Name: item, Length: 69, dtype: object

#### Exercício
Filtrem os ID's que possuem diagnostico M e raio maior que 25

In [83]:
url
cancer_data = pd.read_csv(url)
cancer_data.loc[(cancer_data['diagnosis']=='M')&(cancer_data['radius_mean']>25.00),'id']

82       8611555
180       873592
212      8810703
352       899987
461    911296202
Name: id, dtype: int64

In [84]:
df_filtrado = df[(df['diagnosis'] == 'M') & (df['radius_mean'] > 5)]
print(df_filtrado['id'])

0        842302
1        842517
2      84300903
3      84348301
4      84358402
         ...
563      926125
564      926424
565      926682
566      926954
567      927241
Name: id, Length: 212, dtype: int64

In [85]:
fastfood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    object
 6   trans_fat    515 non-null    object
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(5), int64(7), object(5)
memory usage: 68.5+ KB

In [86]:
fastfood.shape

(515, 17)

In [87]:
fastfood.describe()

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium
count,515.000000,515.000000,515.000000,515.000000,515.000000,515.000000,503.000000,515.000000,514.000000,301.000000,305.000000,305.000000
mean,530.912621,238.813592,26.590291,72.456311,1246.737864,45.664078,4.137177,7.262136,27.891051,18.857143,20.170492,24.852459
std,282.436147,166.407510,18.411876,63.160406,689.954278,24.883342,3.037460,6.761301,17.683921,31.384330,30.592243,25.522073
min,20.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,330.000000,120.000000,14.000000,35.000000,800.000000,28.500000,2.000000,3.000000,16.000000,4.000000,4.000000,8.000000
50%,490.000000,210.000000,23.000000,60.000000,1110.000000,44.000000,3.000000,6.000000,24.500000,10.000000,10.000000,20.000000
75%,690.000000,310.000000,35.000000,95.000000,1550.000000,57.000000,5.000000,9.000000,36.000000,20.000000,30.000000,30.000000
max,2430.000000,1270.000000,141.000000,805.000000,6080.000000,156.000000,17.000000,87.000000,186.000000,180.000000,400.000000,290.000000

In [90]:
fastfood[fastfood['protein'].isnull()]

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
205,Burger King,Farmhouse King,1220,720,80,28,3,335,2050,62,NaN,15,NaN,NaN,NaN,NaN,Other

In [91]:
fastfood['protein'] = fastfood['protein'].fillna(0)

In [93]:
fastfood[~fastfood['protein'].isnull()]

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

### métodos de string com pandas

In [10]:
fastfood.item.str.len()

0      32
1      30
2      30
3      41
4      40
       ..
510    30
511    27
512    22
513    25
514    23
Name: item, Length: 515, dtype: int64

In [11]:
fastfood['item'].str.upper()

0               ARTISAN GRILLED CHICKEN SANDWICH
1                 SINGLE BACON SMOKEHOUSE BURGER
2                 DOUBLE BACON SMOKEHOUSE BURGER
3      GRILLED BACON SMOKEHOUSE CHICKEN SANDWICH
4       CRISPY BACON SMOKEHOUSE CHICKEN SANDWICH
                         ...
510               SPICY TRIPLE DOUBLE CRUNCHWRAP
511                  EXPRESS TACO SALAD W/ CHIPS
512                       FIESTA TACO SALAD-BEEF
513                    FIESTA TACO SALAD-CHICKEN
514                      FIESTA TACO SALAD-STEAK
Name: item, Length: 515, dtype: object

In [13]:
fastfood.restaurant.str.lower()

0      mcdonalds
1      mcdonalds
2      mcdonalds
3      mcdonalds
4      mcdonalds
         ...
510    taco bell
511    taco bell
512    taco bell
513    taco bell
514    taco bell
Name: restaurant, Length: 515, dtype: object

In [16]:
fastfood.item.str.replace('Burger', 'X-Burger')

0               Artisan Grilled Chicken Sandwich
1               Single Bacon Smokehouse X-Burger
2               Double Bacon Smokehouse X-Burger
3      Grilled Bacon Smokehouse Chicken Sandwich
4       Crispy Bacon Smokehouse Chicken Sandwich
                         ...
510               Spicy Triple Double Crunchwrap
511                  Express Taco Salad w/ Chips
512                       Fiesta Taco Salad-Beef
513                    Fiesta Taco Salad-Chicken
514                      Fiesta Taco Salad-Steak
Name: item, Length: 515, dtype: object

In [17]:
fastfood['item'].str.split(' ')

0                [Artisan, Grilled, Chicken, Sandwich]
1                  [Single, Bacon, Smokehouse, Burger]
2                  [Double, Bacon, Smokehouse, Burger]
3      [Grilled, Bacon, Smokehouse, Chicken, Sandwich]
4       [Crispy, Bacon, Smokehouse, Chicken, Sandwich]
                            ...
510                [Spicy, Triple, Double, Crunchwrap]
511                  [Express, Taco, Salad, w/, Chips]
512                         [Fiesta, Taco, Salad-Beef]
513                      [Fiesta, Taco, Salad-Chicken]
514                        [Fiesta, Taco, Salad-Steak]
Name: item, Length: 515, dtype: object

In [20]:
fastfood[fastfood.item.str.contains('Burger')]

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
11,Mcdonalds,Garlic White Cheddar Burger,620,300,34,13,2023-05-01 00:00:00,95,790,48,3.0,11,32.0,10.0,10.0,35.0,Other
16,Mcdonalds,Maple Bacon Dijon 1/4 lb Burger,640,330,36,14,2023-05-01 00:00:00,110,1260,40,3.0,10,37.0,6.0,15.0,15.0,Other
22,Mcdonalds,Pico Guacamole 1/4 lb Burger,580,300,33,12,2023-05-01 00:00:00,95,920,41,4.0,7,29.0,8.0,15.0,15.0,Other
28,Mcdonalds,Signature Sriracha Burger,670,320,35,12,2023-05-01 00:00:00,95,1010,56,4.0,13,32.0,20.0,15.0,30.0,Other
31,Mcdonalds,Sweet BBQ Bacon 1/4 lb Burger,690,340,37,14,2023-05-01 00:00:00,110,1310,51,3.0,14,38.0,6.0,15.0,15.0,Other
85,Sonic,Jalapeno Burger,640,330,37,14,2,100,930,42,2.0,6,31.0,4.0,2.0,20.0,Other
86,Sonic,Jr. Burger,340,150,17,6,1,35,640,34,1.0,6,15.0,2.0,4.0,6.0,Other
88,Sonic,Jr. Deluxe Burger,380,200,23,6,1,40,470,32,1.0,4,15.0,2.0,4.0,6.0,Other
92,Sonic,Sonic Burger W/ Mustard,640,330,37,14,2,100,790,43,2.0,7,31.0,6.0,8.0,20.0,Other
93,Sonic,Sonic Burger W/ Ketchup,650,340,37,14,2,100,860,46,2.0,10,32.0,8.0,10.0,20.0,Other
94,Sonic,Sonic Burger W/ Mayonnaise,740,430,48,15,2,110,760,44,2.0,7,31.0,6.0,8.0,20.0,Other
103,Sonic,Veggie Burger W/ Ketchup,450,130,14,4,0,10,1410,67,5.0,11,15.0,6.0,8.0,25.0,Other
104,Sonic,Veggie Burger With Mustard,450,130,14,4,0,10,1350,64,5.0,8,15.0,6.0,8.0,27.0,Other
105,Sonic,Veggie Burger W/ Mustard,450,130,14,4,0,10,1300,64,5.0,8,15.0,6.0,8.0,25.0,Other
210,Burger King,Rodeo Burger,310,110,13,4,0.5,25,450,38,1.0,9,9.0,NaN,NaN,NaN,Other
237,Burger King,BK VEGGIE Burger,410,150,16,3,0,5,1030,44,7.0,8,22.0,NaN,NaN,NaN,Other
238,Burger King,Chicken Burger,480,220,25,2023-05-02 00:00:00,0,5,1160,42,2.0,10,22.0,NaN,NaN,NaN,Other
262,Dairy Queen,1/2 lb. FlameThrower® GrillBurger,1000,660,74,26,2,170,1610,40,2.0,9,46.0,25.0,8.0,30.0,Other
263,Dairy Queen,1/2 lb. GrillBurger with Cheese,800,460,51,20,2,135,1280,44,3.0,13,40.0,25.0,6.0,35.0,Other
264,Dairy Queen,1/4 lb. Bacon Cheese GrillBurger,630,330,37,13,1,95,1250,44,2.0,13,30.0,20.0,6.0,25.0,Other
265,Dairy Queen,1/4 lb. GrillBurger with Cheese,540,270,30,11,1,70,1020,44,3.0,13,23.0,20.0,6.0,25.0,Other
266,Dairy Queen,1/4 lb. Mushroom Swiss GrillBurger,570,310,35,11,1,75,820,39,2.0,8,24.0,2.0,0.0,25.0,Other
288,Dairy Queen,DQ Ultimate® Burger,780,430,48,22,2,150,1390,34,1.0,7,41.0,20.0,6.0,20.0,Other

#### Exercício
Substitua a coluna diagnosis seguindo a regra: “B” para “benign cancer” “M” para “malignant cancer”

In [22]:
cancer_data = df

In [23]:
cancer_data.diagnosis = cancer_data.diagnosis.str.replace('B', 'Benign Tumor')

In [24]:
cancer_data.diagnosis = cancer_data.diagnosis.str.replace('M', 'Maleficent Tumor')

In [26]:
cancer_data.tail(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
559,925291,Benign Tumor,11.51,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.04105,...,37.16,82.28,474.2,0.12980,0.25170,0.3630,0.09653,0.2112,0.08732,NaN
560,925292,Benign Tumor,14.05,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.04304,...,33.17,100.20,706.7,0.12410,0.22640,0.1326,0.10480,0.2250,0.08321,NaN
561,925311,Benign Tumor,11.20,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.00000,...,38.30,75.19,439.6,0.09267,0.05494,0.0000,0.00000,0.1566,0.05905,NaN
562,925622,Maleficent Tumor,15.22,30.62,103.40,716.9,0.10480,0.20870,0.25500,0.09429,...,42.79,128.70,915.0,0.14170,0.79170,1.1700,0.23560,0.4089,0.14090,NaN
563,926125,Maleficent Tumor,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.14740,...,29.41,179.10,1819.0,0.14070,0.41860,0.6599,0.25420,0.2929,0.09873,NaN
564,926424,Maleficent Tumor,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.22160,0.2060,0.07115,NaN
565,926682,Maleficent Tumor,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.16280,0.2572,0.06637,NaN
566,926954,Maleficent Tumor,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.14180,0.2218,0.07820,NaN
567,927241,Maleficent Tumor,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.26500,0.4087,0.12400,NaN
568,92751,Benign Tumor,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.00000,0.2871,0.07039,NaN